*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    color: #34495e;
    /* border: 1px solid blue; */
}
.customerDetailsFormContainer{
    width: 90vw;
    height: 100vw;
    border-radius: 5px;
    position: relative;
    margin: 3% auto;
    /* border: 1px solid red; */
    padding: 0px;
    overflow: hidden;
    text-align: center;
}

.customerDetailsFormContainer form{
    position: absolute;
    width: 75%;
    /* height: 85%; */
    /* top: 50px; */
    /* left: 0px; */
    margin: 0 auto;
    text-align: center;
    transition: .8s;
    padding: 20px 85px;
    font-size: 20px;
    margin-left: 15%;
    /* border: 1px solid red; */
}
h3{
    width: 75%;
    margin: 25px auto;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    /* margin-bottom: 40px; */
}
p{
    font-size: 20px;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-top: -10px;
}
p input[type="radio"]{
    border: 1px solid red;
    padding: 50px;
}
form span{
    color: red;
}
form h4{
    font-size: 28px;
    text-transform: uppercase;
    padding: 25px 0px;
}
form .inputFields{
    width: 100%;
    text-align: left;
    margin-top: -20px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
form .name{
    display: flex;
    justify-content: space-between;
}
form input{
    padding: 0px 5px;
    margin: 5px 10px;
    border: 0;
    border-bottom: 1px solid grey;
    outline: none;
    background: transparent;
}
form input[type="text"]{
    width: 180px;
    padding: 0px 5px;
    margin: 0px 10px;
    border-bottom: 3px dotted grey;
}
form input[type="file"]{
    width: 180px;
    padding: 0px 5px;
    margin: 0px 10px;
    border-bottom: none;
}
form p{
    width:95%;
    margin-top: 0;
    text-align: center;
    font-size: 11px;
}
#form4 .add{
    width: 70%;
}
form small{
    font-size: 18px;
}
.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button{
    padding: 10px 35px;
    font-weight: 600;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: #34495e;
    font-size: 20px;
}
#form2{
    left: -100%;
}
#form3{
    left: -100%;
}
#form4{
    left: -100%;
}
/* #form5{
    left: -100%;
}
#form6{
    left: -100%;
}
#form7{
    left: -100%;
} */
/* #form8{
    left: -100%;
} */
.step-row{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #34495e;
    position: relative;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 25px;
}
.step-col{
    width: 90%;
    height: 50%;
    text-align: center;
    position: relative;
    /* border: 1px solid red; */
}
#progress{
    position: absolute;
    width: 25%;
    height: 100%;
    background: #34495e;
    transition: .8s;
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #34495e;
}

@media (max-width: 909px) {
    .customerDetailsFormContainer{
        width: 95vw;
        height: 80vh;
        border-radius: 5px;
        position: relative;
        margin: 3% auto;
        overflow: hidden;
    }
    #progress{
        /* position: absolute; */
        width: 11px;
        /* height: 100%; */
        /* background: #34495e; */
        /* transition: .8s; */
    }
}