*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

/* HIDE SCROLLBAR  */

::-webkit-scrollbar{
    width: 0;
}
body{
    /* background: rgb(254, 252, 252); */
    /* border: 3px solid black; */
    width: 100vw;
    height: auto;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
/* PRELOADER CSS  */
/* .contentContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(247, 244, 245);
}
.preLoader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    transition: all 3s ease-out;
}
.upper,.down{
    width: 100%;
    height: 50%;
    position: absolute;
    background: #fdfdfd;
    transition: all 3s ease-out;
    z-index: -1;
}
.upper{
    top: 0;
}
.down{
    bottom: 0;
}
.spinner-block{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    overflow: hidden;
}
.boxes{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.boxes div{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #040257;
    animation: block 1s linear infinite;
    box-sizing: content-box;

}
.boxes div:nth-child(1){
    left: 38px;
    top: 38px;
    animation-delay: 0s;

}
.boxes div:nth-child(2){
    left: 80px;
    top: 38px;
    animation-delay: 0.125s;
    
}
.boxes div:nth-child(3){
    left: 122px;
    top: 38px;
    animation-delay: 0.25s;
    
}
.boxes div:nth-child(4){
    left: 38px;
    top: 80px;
    animation-delay: 0.875s;
    
}
.boxes div:nth-child(5){
    left: 122px;
    top: 80px;
    animation-delay: 0.375s;
    
}
.boxes div:nth-child(6){
    left: 38px;
    top: 122px;
    animation-delay: 0.75s;
    
}
.boxes div:nth-child(7){
    left: 80px;
    top: 122px;
    animation-delay: 0.625s;
    
}
.boxes div:nth-child(8){
    left: 122px;
    top: 122px;
    animation-delay: 0.5s;
    
}
@keyframes block{
    0%{
        background: #949291;
    }
    12.5%{
        background: #949291;
    }
    12.625%{
        background: #faf9f9;

    }
    100%{
        background: #fdfbfc;

    }
}
.loaded .preLoader{
    visibility: hidden;
    opacity: 0;
}
.loaded .preLoader .spinner-block{
    opacity: 0;
    visibility: hidden;
}
.loaded .preLoader .upper{
    top: -100%;
}
.loaded .preLoader .down{
    bottom: -100%;
} */

/* PRELOADER CSS ENDS HERE  */

/* SECONDARY NAV WITH LOGOS AND BUTTONS WHITE AREA  */
.navbarSection{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: #007cc5;  
    border-bottom: 2px solid black;  
}
.navbarSection .headings{
    width: 25%;
    display: flex;
}

.navbarSection .headings img{
    width: 25%;
}
.navbarSection .headings .names{
    color: white;
    width: 100%;
    padding: 12px 10px; 
    text-align: left;
    /* margin-top: 2%; */
}
.navbarSection .headings h1{
    width: 100%;
    font-size: 28px;
    text-align: left;
    text-transform: capitalize;
    top: 50%;
}
.navbarSection .headings .names p{
    width: 100%;
    font-size: 12px;
    line-height: 10px;
    color: #c2c2c2;
}
.navbarSection .navElements{
    width: 80%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarSection .navElements ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarSection .navElements ul li{
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarSection .navElements ul li a{
    font-weight: 600;
    font-size: 20px;  
    color:whitesmoke;  
    
}
.navbarSection .navElements ul a i{
    color: white;
    font-size: 25px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.307);
    margin-right: 25px;
}
.navbarSection .navElements ul li a:hover, .navbarSection .navElements ul a i:hover{
    border-bottom: 1px solid rgb(120, 120, 122);
    color: grey;

}
/* HOME SECTION STARTS HERE  */
#home{
    width: 100vw;
    height: auto;
    margin: 20px 0px;
}


/* CAROUSEL SECTION STARTS HERE */
.imgcontainer{
    width: 90vw;
    height:80vh;
    user-select: none;
    background-color: #007cc5;
    padding: 1.8px 3px;
    box-sizing: 10px;
    margin: 15px auto;
    border-radius: 0px;

}
.imgcontainer .slideshowcontainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #007cc5;
    position: relative;
}
.imgcontainer .slideshowcontainer .imageholder{
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.imgcontainer .slideshowcontainer .imageholder img{
    width: 100%;
    height:100%;
}

.imgcontainer #dotsContainer{
    width: 100%;
    height: 0%;
    text-align: center;
    box-sizing: border-box;

}
.imgcontainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #404043;
    cursor: pointer;
    transition: background-color 0.5s;
}

.imgcontainer .moveLeftCurrentSlide{
    animation-name:moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.imgcontainer .moveLeftNextSlide{
    animation-name:moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveLeftCurrent{
    from{
        margin-left:0;
        opacity: 1;
    }
    to{
        margin-left: -100%;
        opacity: 1;
    }
}
@keyframes moveLeftNext{
    from{
        margin-left:100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
.imgcontainer .moveRightCurrentSlide{
    animation-name:moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveRightCurrent{
    from{
        margin-left:0;
        opacity: 1;
    }
    to{
        margin-left: 100%;
        opacity: 1;
    }
}
.imgcontainer .moveRightNextSlide{
    animation-name:moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveRightNext{
    from{
        margin-left:-100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
/* HOME & CAROUSEL SECTION ENDS HERE  */

/* LOANS SECTION STARTS HERE  */
#loans{
    width: 85vw;
    margin: 0 auto;
    padding: 2px;
}
#loans .loansElementContainer{
    display: flex;
}
#loans .loanContainer{
    width: 25%;
    text-align: left;
    margin: 0px 25px;
}
#loans .loanContainer1{
    display: flex;
}
.loanDetails{
    display: flex;
    justify-content: space-evenly;
}
#loans .loanIcon{
    width: 30%;
}
#loans .loanHeading{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
#loans .loanContainer  img{
    width: 100%; 
    height: 100%;
}
#loans .loanContainer h3{
    font-size: 16px;
    width: 100%;
    margin-top: 10%;
    color: #505050;
    text-transform: uppercase;
    font-weight: 200;
}
#loans .loanContainer p{
    text-align: left;
    color: #505050;

}
#loans .loanContainer p span{
    color: rgba(255, 0, 0, 0.697);
    font-weight: 600;
}
#loans .loanContainer .btn{
    padding: 5px 20px;
    margin: 10px 0px;
    margin-left: 30%;
    background-color: #007cc5;
    border: none;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    font-size: 15px;
}
.btnKnowMore{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnKnowMore a{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: #007cc5;
    color: white;
    border-radius: 50px;
    padding: 5px 0px;
}
.btnKnowMore img{
    width: 15%;
    padding: 5px;
    border-radius: 50%;
}
/* LOANS SECTION ENDS HERE  */
/* MID HEADING SECTION STARTS HERE  */
.midHeading{
    /* border: 1px solid red; */
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    color:#505050 ;
}
.midHeading h2{
    /* border: 1px solid blue; */
    padding: 25px 0px;
    font-size: 40px;
}
.midHeading p{
    font-weight: 600;
    font-size: 18px;
    color: #404043;
}
.midHeading p span{
    color: #007cc5;
}
/* MID SECTION ENDS HERE  */
/* OWL CAROUSEL STARTS HERE  */
#owlCarousel{
    width: 82vw;
    margin: 50px auto;
    height: 350px;
}
#owlCarousel .item{
    width: 17vw;
    height: 100%;
    text-align: center;
    color: #505050;
    margin: 0px 10px;
    
}
#owlCarousel .item .owlCarouselIcon{
    width: 100%;
    border-right: 3px solid rgba(0, 149, 255, 0.301);
    height: auto;
    margin: 0 auto;
    margin-bottom: 25px;
}
#owlCarousel .item .owlCarouselIcon img{
    width: 25%;
    height: 80px;
    padding: 5px;
    margin: 0 auto;
}
#owlCarousel .item .owlCarouselIcon h2{
    padding-top: 25px;
}
#owlCarousel .item .owlCarouselHeading p{
    width: 100%;
    height: 120px;
    padding: 25px 0px;
    font-size: 17px;
}

#owlCarousel .item .owlCarouselBox .btnKnowMore img{
    width: 15%;
    filter:invert();
}
/* OWL CAROUSEL ENDS HERE  */
#notificationContainer{
    width: 60vw;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: #d2d2d444;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
#notificationContainer .leftNotificationContainer{
    width: 45%;
    height: 90%;
    box-shadow: 2px 3px 5px 5px #505051;
    border-radius: 8px;
    background-color: white;

}
#notificationContainer .rightNotificationContainer{
    width: 45%;
    height: 95%;
    padding: 15px;
    display: block;
}
#notificationContainer .rightNotificationContainer .rightLeftNotificationContainer{
    width: 100%;
    background-color: white;
    height: 50%;
    box-shadow: 2px 3px 5px 5px #505051;
    border-radius: 8px;
}
#notificationContainer .rightNotificationContainer .rightRightNotificationContainer{
    width: 100%;
    background-color: white;
    height: 40%;
    box-shadow: 2px 3px 5px 5px #505051;
    border-radius: 8px;
    margin-top: 8%;
}

/* FOOTER SECTION STARTS HERE  */
.footer{
    width: 100vw;
    height: auto;
    display: block;
}
.upperFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.leftContainerFooter{
    width: 50%;
    text-align: left;
}
.leftContainerFooter h1, .leftContainerFooter p{
    text-align: left;
    text-transform: capitalize;
    color: #404043b3;
    font-weight: 100;
    font-size: 26px;
    padding: 10px 30px;
}
.leftContainerFooter p{
    text-align: left;
    text-transform: none;
    color: #404043be;
    font-weight: 100;
    font-size: 15px;
    padding: 0px 30px;
    font-weight: 700;
}
.leftContainerFooter .gen{
    padding: 0px 00px 8px 30px;
    font-size: 12px;
    font-weight: none;
}
.leftContainerFooter .location{
    padding: 10px 0px 0px 30px;
    padding-bottom: 0;
}

.leftContainerFooter p a i{
    /* border: 1px solid red; */
    margin-right: 10px;
    font-size: 12px;
}
.leftContainerFooter a{
    color: #404043b3;
    margin-right: 20px;
}
.rightConatainerFooterLinks p{
    padding: 10px 30px;
    color: #404043b3;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
}

.rightConatainerFooterLinks a{
    color: #404043;
    font-size: 18px;
    padding: 0px 8px;
}
.lowerFooter{
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.508);
    margin-bottom: 10px;
    /* display: flex; */
    color: #404043bb;
    /* justify-content: space-between; */
    padding: 0px 30px;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
}