*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* HIDE SCROLLBAR  */

::-webkit-scrollbar{
    width: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    /* background: linear-gradient(30deg, #3f87a6, #ebf8e1, #f69c3ca1, #561423); */
    /* background-color: grey; */
    opacity: 12;
    z-index: -1111;
}
h1{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid rgb(3, 3, 66);
    padding: 25px 0px 10px 0px;
    color: rgb(3, 3, 66);
}
/* NAVBAR SECTION  */
#navbarSection{
    width: 100vw;
    height: auto;
    position: fixed;
    background: rgb(3, 3, 66);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border: 5px solid #ffff;
    border-bottom: none;
}
#navbarSection .heading{
    display: block;
    width: 8%;
    text-align: center;
}
#navbarSection img{
    width: 40%;
    height: 60%;
    text-decoration: none;
}
#navbarSection h2{
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(255, 247, 247, 0.712);
    color: #fff;
    text-decoration: none;
}
.navbar{
    width: 90%;
    box-shadow: none;
}
.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.navbar ul li{
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 5px;
}


#navbarSection .navbar ul .icon{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    transition: width .3s;
    background: #fff;
}
.navbar ul li a:hover::after{
    width: 100%;
}
#navbarSection .navbar ul .icon li{
    margin: 0px 20px;
    border: none;
    background: none;
}
#navbarSection .navbar ul .icon li a{
    font-size: 20px;
}
nav ul li a:hover, #navbarSection .navbar ul .icon li a:hover{
    border-bottom: 3px solid rgb(150, 15, 15);
    text-decoration: none;
    color: rgb(150, 15, 15);

}



/* CAROUSEL SECTION  */

#carouselSection{
    border: 8px solid rgb(3, 3, 66);
    border-radius: 5px;
    width: 85vw;
    height: 73vh;
    margin: 9% auto;
    margin-bottom: 25px;
    box-shadow: 5px 5px 18px rgb(51, 50, 50);
    border-radius: 22%;
}
#carouselSection .carousel-item {
    width: 100%;
}
#carouselSection .carousel-item img{
    width: 100%;
    height: 554px;
}
#carouselSection .carousel-item .carousel-caption{
    margin-top: -150px;
}
#carouselSection .carousel-item .carousel-caption h3{
    color: rgb(0, 4, 211);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    text-shadow: 2px 2px 5px rgba(255, 253, 253, 0.842);
}
#carouselSection .carousel-item .carousel-caption p{
    color: rgb(141, 5, 16);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px rgb(22, 22, 22);

}
/* POPUP SECTION  */
#advModal{
  background-color: #3233358c;
  box-shadow: 3px 3px 8px blue;
}
.modal-body{
    background: linear-gradient(145deg, rgb(255, 255, 255) 25%, rgb(17, 34, 179) 85%);
}


/* ABOUT US SECTION  */

#aboutUs{
    border-radius:5px ;
    width: 85vw;
    height: auto;
    margin: 150px auto;
    box-shadow: 5px 5px 18px rgb(51, 50, 50);

}
#aboutUs .containerAbout{
    padding: 35px;

}

#aboutUs h3{
    margin-top: 8px;
    font-family: "Times New Roman", Times, serif;

}
.borderAnimate{
    position: relative;
    display: block;
    width: 145px;
    height: 4px;
    border-radius: 2px;
    background: rgb(46, 23, 173);
    overflow: hidden;
}


/* KEY FACILITIES SECTION  */

#keyFacilities{
    border-radius:5px ;
    width: 85vw;
    height: auto;
    margin: 50px auto;
    box-shadow: 5px 5px 18px rgb(51, 50, 50);
}
#keyFacilities h2{
    font-family: "Times New Roman", Times, serif;
  color: rgb(58, 52, 52);
  margin-top: -30px;
}
#keyFacilities .conatinerFluid{
    padding: 35px 25px;
}
.items .card{
    margin-top: 12px;
    cursor: pointer;
    z-index: 0;
    transition: 0.2s all;
    box-shadow: 1px 1px 10px rgb(51, 50, 50);

}
#keyFacilities .conatinerFluid .card{
    border: 8px solid rgb(3, 3, 66);
    border-radius: 20px;
}
.items .card:hover{
    z-index: 0;
    box-shadow: 0 8px 50px rgba(38, 8, 109, 0.5);
    transform: scale(1.05);
}

#keyFacilities .btnMore{
   font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    display: inline-block;
    width: 150px;  
    margin: 0 auto;
    
}
.items .card .content{
    margin: 10px 0px;
 
}

.items .card .content a:hover{
    background: linear-gradient(rgb(82, 1, 1),rgb(78, 2, 2));
    color: #fff;
}


/* CONTACT US SECTION  */

#contactUs{
    border-radius:5px ;
    width: 85vw;
    height: auto;
    margin: 150px auto;
    box-shadow: 5px 5px 18px rgb(51, 50, 50);

}
#contactUs .container{
    margin: 0 auto;
}
#contactUs .container .card{
    width: 40%;
    padding: 35px 50px;
    margin: 55px auto;
    border: 8px solid rgb(3, 3, 66);
    border-radius: 25px;

}
#contactUs .container .card h6{
    text-transform: uppercase;
    color: rgb(150, 15, 15);
}
#contactUs .container .card button{
    text-transform: uppercase;
    font-weight: 600;
    background-color: #561423;
    outline: none;

}

#contactUs .email{
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
 
}
#contactUs .email h4{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}
/* FOOTER SECTION  */

footer{
    border-top: 3px solid rgb(94, 90, 90);
    border-bottom: 5px solid rgb(51, 50, 50);
    width: 99.99vw;
    height: auto;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.99);
}

.col_white_amrc { 
    color:rgb(8, 53, 150);
}

.pt2 { 
    padding-top:10px ; 
    margin-bottom:-12px ;
}
footer p { 
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
}

.footer_ul_amrc { 
    margin:25px 0px 15px 0px; 
    list-style-type:none ; 
    font-size:14px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_ul_amrc li a{ 
    color:rgb(114, 11, 11);
    font-weight: 500;
}
.footer_ul_amrc li a:hover, .foote_bottom_ul_amrc li a:hover, .container p a:hover{ 
    color:#fff; 
    text-decoration:none;
}
.fleft { 
    float:left;
}

.footer_ul2_amrc {
    margin:0px; 
    list-style-type:none; 
    padding:0px;
}
.footer_ul2_amrc li p { 
    display:table; 
}
.footer_ul2_amrc li a:hover { 
    text-decoration:none;
}

.bottom_border { 
    border-bottom:1px solid #20528596;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
    width: 100%;
	display:flex;
    justify-content: space-between;
    align-items: center;
	margin-top:8px;
	margin-bottom: 3px;
}
.foote_bottom_ul_amrc li { 
    display:inline;
}
.foote_bottom_ul_amrc li a { 
    color:rgb(112, 31, 31); 
    margin:0 12px;
    font-weight: 600;

}
.container p{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    color:rgb(112, 31, 31); 

}
.container strong{
    color:rgb(48, 48, 48);

}
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.popup .content{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%,100%) scale(0);
    background: #fff;
    width: 350px;
    height: 520px;
    z-index: 2;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay{
    display: block;

}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(100%,-55%) scale(1);
    position: fixed;

}
.popup .content h1{
    padding: 50px 0px;
}

/* LOGIN CREDENTIAL SECTION  */

.login-container{
    width: 100%;
    padding: 20px;
}
.login-container h2{
    width: 100%;
    color: rgb(185, 11, 11);
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.login-container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(500px, 1fr));
}
.login-container .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 8px;
    margin: 30px 0 15px;
    transition: 0.5s;
    margin-top: 50px;


}
.login-container .row100  img{
    width: 35px ;
    height: 35px;
    margin-left: -300px;
}
.login-container .row100 .inputBox{
    position: relative;
    width: 95%;
    height: 40px;
    color: rgb(185, 11, 11);
    margin-left: 15px;
    padding: 0 10px;
}
.login-container .row100 .inputBox input{
    position: absolute;
    width: 95%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
    text-align: left;
}
.login-container .row100 .inputBox .credential{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.login-container .row100 .inputBox input:focus + .credential,
.login-container .row100 .inputBox input:valid + .credential{
    top: -35px;
    left: -10px;

} 
.login-container .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(110, 153, 247, 0.719);
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.login-container .row100 .inputBox input:focus ~ .line,
.login-container .row100 .inputBox input:valid ~ .line{
    height: 100%;

}
.popup .content input[type="submit"]{
    border: 2px solid silver;
    border-radius: 5px;
    background: rgb(41, 103, 236);
    color: rgb(0, 0, 0);
    box-shadow: none;
    padding: 3px 15px;
    font-size: 20px;
    font-weight: 600;
    margin: 18px;
    cursor: pointer;
    outline: none;
}
.popup .content input[type="submit"]:hover{
    box-shadow: 3px 5px 11px 3px rgba(105, 25, 25, 0.404);
    color: brown;
    
} 
.forget {
    width: 100%;
    text-align: left;
    font-size: 17px;
    margin: 30px 10px;
}
.forget a{ 
    color: grey;
} 
.forget a:hover{
    color: rgba(110, 153, 247, 0.719);
    text-decoration: underline;
} 


/* PASSWORD SHOW/HIDE SECTION  */

#password-toggle{
    position: absolute;
    cursor: pointer;
    right: 20px;
    transform: translate(-35%,-170%);
    width: 30px;
    height: 30px;
    background: url('../images/show.png');
    background-size: cover;

}
#password-toggle.hide{
    background: url('../images/hide.png');
    background-size: cover;
}
