*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

/* HIDE SCROLLBAR  */

::-webkit-scrollbar{
    width: 0;
}
body{
    width: 100vw;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h1{
    text-align: center;
    text-transform: uppercase;
}
/* PRELOADER CSS  */
/* .contentContainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(247, 244, 245);
}
.preLoader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    transition: all 3s ease-out;
}
.upper,.down{
    width: 100%;
    height: 50%;
    position: absolute;
    background: #fdfdfd;
    transition: all 3s ease-out;
    z-index: -1;
}
.upper{
    top: 0;
}
.down{
    bottom: 0;
}
.spinner-block{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    overflow: hidden;
}
.boxes{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.boxes div{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #040257;
    animation: block 1s linear infinite;
    box-sizing: content-box;

}
.boxes div:nth-child(1){
    left: 38px;
    top: 38px;
    animation-delay: 0s;

}
.boxes div:nth-child(2){
    left: 80px;
    top: 38px;
    animation-delay: 0.125s;
    
}
.boxes div:nth-child(3){
    left: 122px;
    top: 38px;
    animation-delay: 0.25s;
    
}
.boxes div:nth-child(4){
    left: 38px;
    top: 80px;
    animation-delay: 0.875s;
    
}
.boxes div:nth-child(5){
    left: 122px;
    top: 80px;
    animation-delay: 0.375s;
    
}
.boxes div:nth-child(6){
    left: 38px;
    top: 122px;
    animation-delay: 0.75s;
    
}
.boxes div:nth-child(7){
    left: 80px;
    top: 122px;
    animation-delay: 0.625s;
    
}
.boxes div:nth-child(8){
    left: 122px;
    top: 122px;
    animation-delay: 0.5s;
    
}
@keyframes block{
    0%{
        background: #949291;
    }
    12.5%{
        background: #949291;
    }
    12.625%{
        background: #faf9f9;

    }
    100%{
        background: #fdfbfc;

    }
}
.loaded .preLoader{
    visibility: hidden;
    opacity: 0;
}
.loaded .preLoader .spinner-block{
    opacity: 0;
    visibility: hidden;
}
.loaded .preLoader .upper{
    top: -100%;
}
.loaded .preLoader .down{
    bottom: -100%;
} */

/* PRELOADER CSS ENDS HERE  */

/*NAV WITH LOGOS AND BUTTONS WHITE AREA  */

nav{
    position: fixed;
    width: 100vw;
    height: 80px;
    background: #34495e;
    z-index: 111111;
}
label.logo{
    width: 25%;
    height: 100%;
    display: flex;
    font-weight: bold;
    color: white;
}
label.logo h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 18px;
}
label.logo p{
    font-size: 16px;
    margin-top: -8px;
}
label.logo img{
    width: 25%;
}
nav ul{
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 10px;
    margin-top:-80px ;

}
nav li {
    margin: 0 8px;
    line-height: 80px;

}
nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 1px 10px;
    border-radius: 3px;
}
nav ul li a.active, nav ul li a:hover{
    border: 1px solid white;
    transition: .5s;
}
ul .fa-solid{
    color: white;
    padding: 5px;
    margin-top: 18px;
    font-size: 30px;
    margin-right: 25px;
}
ul .fa-solid:hover{
    border: 1px solid white;
    border-radius: 3px;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    margin-top: -80px;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
    width: 25%;
    height: 100%;
    display: flex;
    font-weight: bold;
    color: white;
    }
    label.logo h1{
        font-size: 25px;
        font-weight: bold;
        color: white;
        margin-top: 2px;
    }
    label.logo p{
        margin-top: -5px;
        font-size: 10.3px;
    }
    label.logo img{
        width: 25%;
    }
    nav ul{
        height: 100%;
        margin-right: 10px;

    }
    nav ul li{
        padding: 0 ;
        margin: 0;
        text-align: center;
        margin-top: 15px;
    }
    nav a{
        font-size: 15px;
    }
    ul .fa-solid{
    padding: 5px;
    margin-top: 35px;
    font-size: 25px;
    }
}
@media (max-width: 909px) {
        label.logo{
        width: 90%;
        height: 100%;
        display: flex;
        font-weight: bold;
        color: white;
        /* border: 1px solid red; */
        text-align: center;
        padding: 10px 0px;
    }
    label.logo h1{
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin-top: 15px;
        margin-left: 5px;
    }
    label.logo p{
        margin-left: 5px;
        margin-top: -5px;
        font-size: 12px;
    }
    label.logo img{
        width: 15%;
        height: 100%;
        padding: 0px;

    }
    nav #icon{
        display: block;
        line-height: 80px;
    }

    nav ul{
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #2f3640;
        margin-top: 0px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        /* line-height: 80px; */
        z-index: 1;
    }
    nav li{
        display: block;
        margin: 80px 0;
        line-height: 50px;
    }
    nav ul li a{
        font-size: 1.3rem;
    }
    nav ul li a.active,nav ul li a:hover{
        border: none;
        color: #3498db;
    }
    nav .fa-solid{
        font-size: 2rem;
        margin-left: 25px;
    }
    nav ul.show{
        left: 0;
    }

}

/* HOME SECTION STARTS HERE  */
#home{
    width: 100vw;
    height: auto;
    margin: 80px 0px 0px 0px;
}


/* CAROUSEL SECTION STARTS HERE */
.imgcontainer{
    width: 90vw;
    height:80vh;
    user-select: none;
    background-color: #34495e;
    padding: 1.8px 3px;
    box-sizing: 10px;
    margin: 15px auto;
    border-radius: 0px;

}
.imgcontainer .slideshowcontainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #34495e;
    position: relative;
}
.imgcontainer .slideshowcontainer .imageholder{
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.imgcontainer .slideshowcontainer .imageholder img{
    width: 100%;
    height:100%;
}

.imgcontainer #dotsContainer{
    width: 100%;
    height: 0%;
    text-align: center;
    box-sizing: border-box;

}
.imgcontainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #404043;
    cursor: pointer;
    transition: background-color 0.5s;
}

.imgcontainer .moveLeftCurrentSlide{
    animation-name:moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.imgcontainer .moveLeftNextSlide{
    animation-name:moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveLeftCurrent{
    from{
        margin-left:0;
        opacity: 1;
    }
    to{
        margin-left: -100%;
        opacity: 1;
    }
}
@keyframes moveLeftNext{
    from{
        margin-left:100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
.imgcontainer .moveRightCurrentSlide{
    animation-name:moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveRightCurrent{
    from{
        margin-left:0;
        opacity: 1;
    }
    to{
        margin-left: 100%;
        opacity: 1;
    }
}
.imgcontainer .moveRightNextSlide{
    animation-name:moveRightNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes moveRightNext{
    from{
        margin-left:-100%;
        opacity: 1;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
/* HOME & CAROUSEL SECTION ENDS HERE  */

/* LOANS SECTION STARTS HERE  */
#loans{
    width: 85vw;
    margin: 0 auto;
    padding: 2px;
}
#loans .loansElementContainer{
    display: flex;
}
#loans .loanContainer{
    width: 25%;
    text-align: left;
    margin: 0px 25px;
}
#loans .loanContainer1{
    display: flex;
}
.loanDetails{
    display: flex;
    justify-content: space-evenly;
}
#loans .loanIcon{
    width: 30%;
}
#loans .loanHeading{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
#loans .loanContainer  img{
    width: 100%; 
    height: 100%;
}
#loans .loanContainer h3{
    font-size: 18px;
    width: 100%;
    margin-top: 10%;
    color: #505050;
    text-transform: uppercase;
    font-weight: 600;
}
#loans .loanContainer p{
    text-align: left;
    color: #505050;
    font-size: 18px;

}
#loans .loanContainer p span{
    color: rgba(255, 0, 0, 0.697);
    font-weight: 600;
}
#loans .loanContainer .btn{
    padding: 5px 20px;
    margin: 10px 0px;
    margin-left: 30%;
    background-color: #007cc5;
    border: none;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    font-size: 15px;
}
.btnKnowMore{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnKnowMore a{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: #007cc5;
    color: white;
    border-radius: 50px;
    padding: 5px 0px;
    font-size: 21px;
}
.btnKnowMore img{
    width: 15%;
    padding: 5px;
    border-radius: 50%;
}
/* LOANS SECTION ENDS HERE  */
/* MID HEADING SECTION STARTS HERE  */
.midHeading{
    /* border: 1px solid red; */
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    color:#505050 ;
}
.midHeading h2{
    /* border: 1px solid blue; */
    padding: 25px 0px;
    font-size: 46px;
}
.midHeading p{
    font-weight: 600;
    font-size: 23px;
    color: #404043;
}
.midHeading p span{
    color: #007cc5;
}
/* MID SECTION ENDS HERE  */
/* OWL CAROUSEL STARTS HERE  */
#owlCarousel{
    width: 82vw;
    margin: 50px auto;
    height: 350px;
}
#owlCarousel .item{
    width: 17vw;
    height: 100%;
    text-align: center;
    color: #505050;
    margin: 0px 10px;
    
}
#owlCarousel .item .owlCarouselIcon{
    width: 100%;
    border-right: 3px solid rgba(0, 149, 255, 0.301);
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
}
#owlCarousel .item .owlCarouselIcon img{
    width: 25%;
    height: 80px;
    padding: 5px;
    margin: 0 auto;
}
#owlCarousel .item .owlCarouselIcon h2{
    padding-top: 25px;
    font-size: 27px;
}
#owlCarousel .item .owlCarouselHeading p{
    width: 100%;
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
}

#owlCarousel .item .owlCarouselBox .btnKnowMore img{
    width: 15%;
    filter:invert();
}
/* OWL CAROUSEL ENDS HERE  */
#notificationContainer{
    width: 60vw;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: #d2d2d444;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
#notificationContainer .leftNotificationContainer{
    width: 45%;
    height: 90%;
    box-shadow: 2px 3px 5px 5px #505051;
    border-radius: 8px;
    background-color: white;

}
#notificationContainer .rightNotificationContainer{
    width: 45%;
    height: 95%;
    padding: 15px;
    display: block;
}
#notificationContainer .rightNotificationContainer .rightLeftNotificationContainer{
    width: 100%;
    background-color: white;
    height: 50%;
    box-shadow: 2px 3px 5px 5px #505051;
    border-radius: 8px;
}
#notificationContainer .rightNotificationContainer .rightRightNotificationContainer{
    width: 100%;
    background-color: white;
    height: 40%;
    box-shadow: 2px 3px 5px 5px #505051;
    border-radius: 8px;
    margin-top: 8%;
}

/* FOOTER SECTION STARTS HERE  */
.footer{
    width: 100vw;
    height: auto;
    display: block;
    background: #34495e;
}
.upperFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.leftContainerFooter{
    width: 50%;
    text-align: left;
}
.leftContainerFooter h1, .leftContainerFooter p{
    text-align: left;
    text-transform: capitalize;
    color: #fff;
    font-weight: 100;
    font-size: 32px;
    padding: 10px 30px;
}
.leftContainerFooter p{
    text-align: left;
    text-transform: none;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    padding: 0px 30px;
    font-weight: 700;
}
.leftContainerFooter .gen{
    padding: 0px 00px 8px 30px;
    font-size: 17px;
    font-weight: none;
}
.leftContainerFooter .location{
    padding: 10px 0px 0px 30px;
    padding-bottom: 0;
}

.leftContainerFooter p a i{
    /* border: 1px solid red; */
    margin-right: 10px;
    font-size: 19px;
}
.leftContainerFooter a{
    color: #fff;
    margin-right: 20px;
}
.rightConatainerFooterLinks p{
    padding: 10px 30px;
    color: #ffffffb3;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}

.rightConatainerFooterLinks a{
    color: #fff;
    font-size: 35px;
    padding: 0px 8px;
}
.lowerFooter{
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.508);
    color: #afafb7f5;
    text-align: center;
    padding-bottom: 10px;
    padding: 15px 0px;
    font-size: 19px;
    font-weight: 600;
    background: #34495e;
}