*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}

/* HIDE SCROLLBAR  */

::-webkit-scrollbar{
    width: 0;
}

/* NAVBAR SECTION  */

#navbarSection{
    border: 1px solid red;
    width: 100vw;
    height: auto;
    float: right;
}

/* CAROUSEL SECTION  */

#carouselSection{
    border: 1px solid green;
    width: 100vw;
    height: 100vh;
    float: right;
    margin: 25px 0;

}

/* POPUP SECTION  */

/* #popupSection{
    border: 1px solid red;
    width: 80vw;
    height: 100vh;
    float: right;
} */

/* ABOUT US SECTION  */

#aboutUs{
    border: 1px solid brown;
    width: 100vw;
    height: 100vh; 
    margin: 25px 0;
   display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* float: right;
   
    /* background: url(images/s1.jpg) no-repeat; */


}
.AboutImg{
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: auto;

}
.AboutContent{
    border-radius: 1px black;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 450px;

  
 
}

/* KEY FACILITIES SECTION  */

#keyFacilities{
    border: 1px solid grey;
    width: 100vw;
    height: 100vh;
    float: right;
    margin: 25px 0;

}

/* CONTACT US SECTION  */

#contactUs{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    float: right;
    margin: 25px 0;

}

/* FOOTER SECTION  */

#footerSection{
    border: 1px solid blue;
    width: 100vw;
    height: 100vh;
    float: right;
    margin: 25px 0;

}