*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* HIDE SCROLLBAR  */

::-webkit-scrollbar{
    width: 0;
}
body{
    /* background: red; */
    font-family: 'Poppins',sans-serif;
}
h1{
    text-align: center;
}
/* NAVBAR SECTION  */

#navbarSection{
    border: 1px solid red;
    width: 100vw;
    height: auto;
    float: right;
    margin: 25px 0px;
    margin-top: 0;
}



/* CAROUSEL SECTION  */

#carouselSection{
    border: 1px solid green;
    width: 100vw;
    height: auto;
    float: right;
    margin-bottom: 25px;

}
#carouselSection .carousel-item img{
    width: 100vw;
    height: 85vh;
}

/* POPUP SECTION  */

/* #popupSection{
    border: 1px solid red;
    width: 80vw;
    height: 100vh;
    float: right;
} */

/* ABOUT US SECTION  */

#aboutUs{
    border: 1px solid brown;
    width: 100vw;
    height: 100vh;
    margin: 25px 0;
<<<<<<< HEAD
    background-image: linear-gradient(to right, rgb(38, 22, 97),rgb(73, 160, 172));
    /* float: right;
=======
   display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    float: right;
>>>>>>> de09f570d628ab96a491bd29bd7e5ef03bb8d375
   
    /* background: url(images/s1.jpg) no-repeat; */


}
.AboutImg{
<<<<<<< HEAD
    margin-top: 80px;
    position: absolute;
=======
    position: absolute;
    width: 90vw;
    height: 80vh;
    opacity: 0.3;

>>>>>>> de09f570d628ab96a491bd29bd7e5ef03bb8d375
}
.AboutContent{
    /* border-radius: 1px black;
    position: relative;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.1); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 450px; */
    

  
 
}

/* KEY FACILITIES SECTION  */

#keyFacilities{
    border: 1px solid grey;
    width: 100vw;
    height: 100vh;
    float: right;
    margin: 25px 0;

}

/* CONTACT US SECTION  */

#contactUs{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    float: right;
    margin: 25px 0;

}

/* FOOTER SECTION  */

#footerSection{
    border: 0.5px solid rgba(128, 128, 128, 0.568);
    width: 100vw;
    height: 100px;
    float: right;
    margin-top: 15px;
    bottom: 0;
    text-align: center;
    background:rgba(255, 245, 245, 0.4);
}
.footer p{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
    
}
.footer .copy{
    margin-top: -20px;
}