.Customer-heading .Customer-heading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: 2px; */
  
}
.customer-info img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 0.1875em solid #0b193e;
}
@media screen and (max-width: 1200px) {
/* .customer-type{
    margin-left: 300px;
 } */
} 

.address-details{
    border-radius: 5px;
    background-color: #fff;
    

}
.address-details span{
    /* width: 20px; */
    margin-left: 10px;

}