*{
    margin: 0;
    padding: 0;
}
/* transection password*/
.Branch form{
    position: relative;
    align-items: center;
    width: 500px;
    height: 490px;
    padding: 40px;
    align-items: center;
    margin-top: 20px;
    left: 78px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(14, 13, 13, 0.942);
    opacity: 0.1s;
    box-shadow: 14px 14px 20px  #7894b1, -14px -14px 20px white;
    overflow-y: scroll;
  }
  .Branch form::-webkit-scrollbar {
    display: none; 
  }
.Branch form h2{

  /* margin-top: 10px; */
  font-weight: 900;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.Branch .btn{
    /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
    background-color: #2083ca;
    flex: 1 1 auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    cursor: pointer;
  
    border-radius: 4px;

}
.Branch .btn:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }