.customer-fixed-deposit{
    position: relative;
    background-color: #dce9f54f;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.customer-fixed-deposit h2{
    font-size: 25px;
    padding: 10px;
    height: auto;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.sidebar.open ~ .customer-fixed-deposit {
    left: 250px;
    width: calc(100% - 250px);
  }
  .fixed-deposited{
       margin:0px 10px;
      padding: 5px 10px;
  }
  .fixed-deposited  #form1 .form-group{
   align-items: center;
   display: flex;
   text-align: center;
  }
  .fixed-deposited .form-group select{
    padding: 0px 5px;
    margin: auto;
    width: 350px;
    justify-content: center;
    align-items: center;
}
.fixed-deposited .form-group label{
    font-size: 15px;
}
.fixed-deposited .form-group input{
    padding: 0px 5px;
    margin: auto;
    width: 350px;
    justify-content: center;
    
}
.fixed-deposited .form-group h1{
    font-size: 15px;
}
.fixed-deposited #form3 .row{
    margin: 1px 10px;
    padding: 1px;
    justify-content: space-between;

}
.fixed-deposited #form3 .row h1{
    font-size: 18px;
    align-items: center;
}
.fixed-deposited #form3 .row p{
    align-items: center;
}