body{
    background: rgb(78, 169, 169);
    margin: 10px;
	padding: 10px;
}

.coloum{
    background-color: whitesmoke;
    align-items: center;
}


.container{
    width: 80%;
    align-items: center;
    text-align: center;
}
tr:nth-child(even) {background-color: #677d89;}
